<!DOCTYPE html>
<html>
<head>
    <title>Games</title>
</head>
<body>
    <h1>Games List</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Release Date</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        {% for game in games %}
        <tr>
            <td>{{ game[0] }}</td>
            <td>{{ game[1] }}</td>
            <td>{{ game[2] }}</td>
            <td>{{ game[3] }}</td>
            <td>${{ game[4] }}</td>
            <td>
                <a href="{{ url_for('delete_game', game_id=game[0]) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('home') }}">Go Back</a>
</body>
</html>